nav {
    display: flex;;
    align-items: center;
    padding: 2rem;
    background-color: #2a3236;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.header-logo {
    font-size: 1.5rem;
}

.header-button-primary {
    margin-left: auto;
    padding: 0.5rem 1rem;
    background-color: #d93900;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.header-button-secondary {
    margin-left: auto;
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 5px;
}