nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.header-logo {
    font-size: 1.5rem;
}